{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.tenancy.add_package %}
        {% add_button 'tenancy:package_add' %}
        {% import_button 'tenancy:package_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Packages{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='tenancy:package_bulk_edit' bulk_delete_url='tenancy:package_bulk_delete' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
