{% extends 'utilities/obj_edit.html' %}
{% load static from staticfiles %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tenant</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.slug %}
            {% render_field form.group %}
            {% render_field form.ipv4_enabled %}
            {% render_field form.ipv6_enabled %}
            {% render_field form.multicast_enabled %}
            {% render_field form.service_type %}
            <div class="form-group">
                <label class="col-md-3 control-label" for="id_speed_upload">{{ form.speed_upload.label }}</label>
                <div class="col-md-9">
                    <div class="input-group">
                        {{ form.speed_upload }}
                        {% include 'tenancy/inc/speed_widget.html' with target_field='speed_upload' %}
                    </div>
                    <span class="help-block">{{ form.speed_upload.help_text }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="id_speed_download">{{ form.speed_download.label }}</label>
                <div class="col-md-9">
                    <div class="input-group">
                        {{ form.speed_download }}
                        {% include 'tenancy/inc/speed_widget.html' with target_field='speed_download' %}
                    </div>
                    <span class="help-block">{{ form.speed_download.help_text }}</span>
                </div>
            </div>
            {% render_field form.qos_profile %}
            {% render_field form.dhcp_pool %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Custom Fields</strong></div>
            <div class="panel-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tags</strong></div>
        <div class="panel-body">
            {% render_field form.tags %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Comments</strong></div>
        <div class="panel-body">
            {% render_field form.comments %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $("a.set_speed").click(function(e) {
        e.preventDefault();
        $("#id_" + $(this).attr("target")).val($(this).attr("data"));
    });
</script>
{% endblock %}
