<span class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" target="{{ target_field }}" data="50000" class="set_speed">50 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="100000" class="set_speed">100 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="250000" class="set_speed">250 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="1000000" class="set_speed">1 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="10000000" class="set_speed">10 Gbps</a></li>
    </ul>
</span>
